{{!< default}}

{{! The comment above "< default" means - insert everything in this file into
    the {body} of the default.hbs template, which contains our header/footer. }}

{{! The big featured header on the homepage, with the site logo and description }}

{{! The main content area on the homepage }}
<main class="content" role="main">

	<div class="inner" style="padding-top: 80px; padding-bottom: 80px;">

		<h1>Hi</h1>
    <h2>Welcome to Skincare by Madeleine</h2>

		<p>Madeleine is the owner/esthetician of this unique full service skin care practice, specializing in all facial treatments but with a medical spa background and with over 20 years of experience, is able to offer a special mix of relaxation, nurturing and pharmaceutical grade facials.</p>

		<p>Hailing from and trained at the world renowned London College of Fashion in London, UK has given her the edge in providing European style treatments in a Bay Area market. Having worked alongside doctors and nurses, she is able to focus on the pre and post needs of laser and surgical procedures, as well as the anti-aging, problematic acne, sun damaged conditions which plague all of us at some time.</p>

		<p>In the past Madeleine has worked as a teacher and examiner in the beauty industry, responsible for developing courses related to the spa/cosmetic industry, and was a graduate level guest lecturer at several prestigious beauty colleges in the south of England. Also as a product developer for a Japanese skin care line in the US, a senior therapist and training consultant for spa equipment, and as a manager for a leading health destination in rural England! Famous former clients have included a member of the British Royal family.</p>

		<p>Madeleine is a contributing writer/beauty advisor to Fuse Fashion Magazine, attends relevant trade shows and training classes continuously, and donates for fundraising in skin cancer/breast cancer and the San Ramon Valley School District.</p>

		<p>However she is happiest with the "one on one" client treatment scenario in her downtown Danville location!</p>
	</div>

</main>
